<h1>Matemática Financeira</h1>
<p>A matemática financeira utiliza uma série de conceitos matemáticos aplicados à análise de dados financeiros em geral.</p>
<h1>Noções de porcentagem</h1>
<p>Porcentagem é o valor obtido ao aplicarmos uma taxa percentual a um determinado valor.</p>
<ul>
    <li><strong>Como calcular: </strong>Divida o número da porcentagem por 100 e multiplique pelo número que você quer descobrir a porcentagem. Ex: 30% de 100, divida 30 por 100 que será igual a 0,3 e multiplique por 100, o resultado será 70.</li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/mf/Untitled.png"><img src="http://localhost:8080/img/conteudos/mf/Untitled.png" /></a>
</figure>
<h1>Situações práticas com porcentagem</h1>
<p>De uma maneira muito simples, a porcentagem é uma forma matemática de demonstrar uma proporção entre o todo e uma de suas partes.</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/mf/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/mf/Untitled%201.png" /></a>
</figure>
<p>
</p>
<ul>
    <li><strong>Calculando descontos:</strong></li>
</ul>
<p>Primeiro, precisamos saber qual o valor do desconto. Para isso, basta multiplicar o valor original pela porcentagem.
</p>
<p>120 x 30% = 120 x (30/100) = 120 x 0,3 = 36</p>
<p>
</p>
<ul>
    <li><strong>Calculo de acréscimo:</strong></li>
</ul>
<p>Você recebeu uma promoção, e agora seu salário terá um aumento de 15%. Considerando que seu salário, atualmente, é R$ 1400, qual será o valor que você vai começar a receber?</p>
<p>Mais uma vez, precisamos entender primeiramente quantos reais correspondem a 15% do valor total.
</p>
<p>1400 x 15% = 1400 x (15/100) = 1400 x 0,15 = 210</p>
<p>
</p>
<p>
</p>