<h1>Números naturais</h1>
<p>O conjunto dos números naturais (ou o conjunto dos inteiros não negativos), representado pelo símbolo N, é a nossa principal ferramenta de contagem. Eles são“os números que usamos para contar.&quot;
</p>
<h1>Representação geometrica dos números naturais</h1>
<hr />
<p> Os números naturais podem ser representados ordenadamente sobre uma reta,</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled.png " /></a>
</figure>
<h1>Operação com números naturais</h1>
<hr />
<ul>
    <li><strong>Adição e subtração: </strong> Para efetuarmos a adição ou subtração de números naturais, devemos colocar algarismos de ordens iguais no mesmo alinhamento vertical.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%201.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%201.png " /></a>
</figure>
<ul>
    <li><strong>Multiplicação: </strong>Consiste em uma adição sucessivas de um mesmo número produzindo um resultado que chamamos de produto.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%202.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%202.png " /></a>
</figure>
<ul>
    <li><strong>Divisão: </strong>Consiste em dividir dois números, o dividendo e o divisor, que produz dois resultados chamados de quociente e resto.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%203.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%203.png " /></a>
</figure>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%204.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%204.png " /></a>
</figure>
<ul>
    <li><strong>Potência: </strong>é uma simplificação da forma de expor uma multiplicação de fatores iguais.
    </li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%205.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%205.png " /></a>
</figure>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%206.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%206.png " /></a>
</figure>
<h1>Múltiplos e Divisores </h1>
<hr />
<p>Os múltiplos são encontrados após a multiplicação por números inteiros, e os divisores são números divisíveis por um certo número.</p>
<ul>
    <li><strong>Múltiplo:</strong> Conjunto dos múltiplos de a é obtido multiplicando a por todos números inteiros, os resultados dessas multiplicações são os múltiplos de a.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%207.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%207.png " /></a>
</figure>
<ul>
    <li><strong>Divisor: </strong>Se divisão entre determinado número b e a é exata (deve deixar resto 0), dizemos que esse número divisor deste número.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%208.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%208.png " /></a>
</figure>
<ul>
    <li><strong>Números primos e compostos: </strong>Os números primos são aqueles que o divisor em sua listagem somente o número 1 e o próprio número. Os números composto são aqueles que possuem mais de 2 divisores.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%209.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%209.png " /></a>
</figure>
<h1>MMC e MDC</h1>
<hr />
<ul>
    <li><strong>Mínimo Múltiplo Comum (MMC): </strong>Corresponde ao menor número inteiro positivo, diferente de zero, que é múltiplo ao mesmo tempo de dois ou mais números.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%2010.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%2010.png " /></a>
</figure>
<ul>
    <li><strong>Máximo Divisor Comum (MDC): </strong>Corresponde ao maior número divisível entre dois ou mais números inteiros.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/Untitled%2011.png "><img src="http://localhost:8080/img/conteudos/nn/Untitled%2011.png " /></a>
</figure>
<h1>Divisibilidade por 2,3,4,5,6,7,8,9 e 10.</h1>
<figure>
    <a href="http://localhost:8080/img/conteudos/nn/critrios-de-divisibilidade.png "><img src="http://localhost:8080/img/conteudos/nn/critrios-de-divisibilidade.png " /></a>
</figure>