<h1>Sistema Cartesiano</h1>
<p>O plano cartesiano é um sistema de coordenadas desenvolvido por René Descartes. Esse sistema de coordenadas é formado por duas retas perpendiculares, chamadas de eixos cartesianos. Esses eixos determinam um único plano, assim, é possível determinar a
    localização no sistema de coordenadas de todo os pontos e, consequentemente, de qualquer objeto formado por esses pontos que estejam nesse plano.</p>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled.png" /></a>
</figure>
<h1>Como fazer um plano cartesiano?</h1>
<hr />
<p>O plano cartesiano é formado por duas retas reais em que o ângulo entre elas é de 90°, ou seja, elas são perpendiculares. Essas retas são chamadas de eixos. Assim, há o eixo horizontal, que é chamado de eixo das abscissas, e o eixo vertical, que é o eixo
    das ordenadas.
</p>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%201.png" /></a>
</figure>
<p>Perceba que as retas perpendiculares dividem o plano em quatro regiões, que são chamadas de quadrantes – isso porque as duas retas perpendiculares dividem o plano em quatro regiões.</p>
<h1>Localizar no plano cartesiano</h1>
<hr />
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%202.png" /></a>
</figure>
<ul>
    <li>O primeiro valor (x), que é representante da abcissa e é chamado de coordenada x, deve ser marcado na reta horizontal. Desenhe uma reta tracejada perpendicular à abcissa (reta horizontal) passando pelo local onde a primeira coordenada (x) foi marcada.
    </li>
</ul>
<ul>
    <li>O segundo valor (y), que é representante das ordenadas e é chamado de coordenada y, deve ser marcado na reta vertical. Desenhe uma reta tracejada perpendicular à ordenada (reta vertical) passando pelo local onde a segunda coordenada (y) foi marcada.</li>
</ul>
<ul>
    <li>O ponto de encontro entre as duas retas tracejadas é a localização do ponto A.</li>
</ul>
<h1>Estatística</h1>
<hr />
<p>Estatística é a ciência que se utiliza das teorias probabilísticas para explicar a frequência da ocorrência de eventos, tanto em estudos observacionais quanto em experimentos para modelar a aleatoriedade e a incerteza de forma a estimar ou possibilitar
    a previsão de fenômenos futuros, conforme o caso.</p>
<h1>Tipos de gráficos</h1>
<ul>
    <li><strong>Gráficos de pontos:</strong> O objetivo desse gráfico é apresentar os dados da tabela de forma resumida.
    </li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%203.png" /></a>
</figure>
<ul>
    <li><strong>Gráficos de linhas</strong>: É utilizado para analisar dados ao longo do tempo.</li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%204.png" /></a>
</figure>
<ul>
    <li><strong>Gráficos de barra:</strong> Tem o objetivo de comparar os dados de determinada mostra utilizando retângulos de mesma largura e altura.</li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%205.png" /></a>
</figure>
<ul>
    <li><strong>Gráficos de colunas: </strong>O gráfico de colunas então é usado quando as legendas forem curtas, a fim de não deixar muitos espaços em branco no gráfico de barra.</li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%206.png" /></a>
</figure>
<ul>
    <li><strong>Gráfico de setor: </strong>É utilizado para representar dados estatísticos com um círculo dividido em setores, as áreas dos setores são proporcionais às frequências dos dados, ou seja, quanto maior a frequência, maior a área do setor circular.</li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%207.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%207.png" /></a>
</figure>
<h1>Construção de gráficos</h1>
<p>Plano Cartesiano é o ambiente onde o gráfico será construído. Ele é estabelecido pelo encontro dos eixos cartesianos x e y, conhecidos como eixo das abcissas e eixo das ordenadas, respectivamente.</p>
<p>
</p>
<ul>
    <li><strong>1°)</strong> Escolher valores para x, esses valores serão substituídos na lei de formação da função para que o valor correspondente de y seja determinado, bem como o par ordenado.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%208.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%208.png" /></a>
</figure>
<ul>
    <li><strong>2°)</strong> Encontrar os pares ordenados no plano cartesiano</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%209.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%209.png" /></a>
</figure>
<ul>
    <li><strong>3°) </strong>Montar o gráfico.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%2010.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%2010.png" /></a>
</figure>
<p>
</p>
<h1>Média Aritmética</h1>
<hr />
<p>A média aritmética é considerada uma medida de tendência central e é muito utilizada no cotidiano. Surge do resultado da divisão do somatório dos números dados pela quantidade de números somados</p>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/sc/Untitled%2011.png"><img src="http://localhost:8080/img/conteudos/sc/Untitled%2011.png" /></a>
</figure>
<p>
</p>
<p>referências: Escola Kids e Brasil Escola</p>