<html>

<body>
    <h1>Geometria: Plana e Espacial</h1>
    <p>A geometria plana estuda o comportamento de estruturas no plano, a partir de conceitos básicos primitivos como ponto, reta e plano.</p>
    <h1>Ângulos</h1>
    <hr />
    <p>Quando unimos duas semirretas a partir de uma mesma origem, formamos um ângulo.</p>
    <p>.</p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/gpe2/Untitled.png"><img src="http://localhost:8080/img/conteudos/gpe2/Untitled.png" /></a>
    </figure>
    <h1>Ângulos Congruentes</h1>
    <p>Ângulos são congruentes quando têm mesma medida.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/gpe2/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/gpe2/Untitled%201.png" /></a>
    </figure>
    <h1>Ângulos Consecutivos</h1>
    <p>Dois ângulos são chamado de consecutivos quando têm o mesmo vértice e um lado comum.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/gpe2/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/gpe2/Untitled%202.png" /></a>
    </figure>
    <h1>Ângulos Adjacentes</h1>
    <p>Dois ângulos consecutivos são adjacentes se não tiverem pontos internos em comum.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/gpe2/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/gpe2/Untitled%203.png" /></a>
    </figure>
    <h1>Simetria </h1>
    <hr />
    <p>Simetria é uma relação de paridade em respeito a altura, largura e comprimento das partes necessárias para compor um todo.</p>
    <p>E</p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/gpe2/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/gpe2/Untitled%204.png" /></a>
    </figure>
    <h1>Geometria Espacial</h1>
    <p>
    </p>
    <h1>Poliedros</h1>
    <p>As figuras geométricas espaciais em que todas as faces lembram planas são chamadas de poliedros.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/gpe2/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/gpe2/Untitled%205.png" /></a>
    </figure>
    <h1>Cálculo de Volume</h1>
    <p>O volume de um paralelepípedo é calculado através da multiplicação entre a área da base e a altura, ou para ser mais prático: comprimento x largura x altura, considerando sempre que as unidades de comprimento das dimensões sejam as mesmas.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/gpe2/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/gpe2/Untitled%206.png" /></a>
    </figure>
    <p>
    </p>
    <p>referências: matemática conexão. Autores: Célia Lopes, Lane Alencar, Gizelton Alencar.</p>
    <p>
    </p>
</body>

</html>