<html>

<body>
    <h1>Matemática financeira</h1>
    <p>A matemática financeira utiliza uma série de conceitos matemáticos aplicados à análise de dados financeiros em geral. Os problemas clássicos de matemática financeira são ligados a questão do valor do dinheiro no tempo e como isso é aplicado a empréstimos,
        investimentos e avaliação financeira de projetos</p>
    <h1>Razão </h1>
    <hr />
    <p>Razão é a divisão ou relação entre duas grandezas. Podemos representar a razão como a:b ou a/b com b diferente de 0.</p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled_(2).png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled_(2).png" /></a>
    </figure>
    <p>Algumas rezões são mais conhecidas por nós, pois as utilizamos frequentemente em atividades do dia a dia.</p>
    <ul>
        <li><strong>Velocidade média: v</strong>elocidade média, é a razão entre a distância a ser percorrida e o tempo gasto.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled.png" /></a>
    </figure>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%201.png" /></a>
    </figure>
    <ul>
        <li><strong>Densidade demográfica:</strong> densidade demográfica corresponde à distribuição da população em uma determinada área. Também chamado de densidade populacional ou população relativa.
        </li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%202.png" /></a>
    </figure>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%203.png" /></a>
    </figure>
    <h1>Proporção</h1>
    <hr />
    <p>Proporção é uma relação de igualdade entre duas razões.
    </p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Proporoumaigualdadederazes.Exemplo__(2).jpg"><img src="http://localhost:8080/img/conteudos/mf2/Proporoumaigualdadederazes.Exemplo__(2).jpg" /></a>
    </figure>
    <h1>Grandezas</h1>
    <hr />
    <p>Encontrar a razão entre duas grandezas é uma tarefa simples, que serve para que seja possível avaliá-las de um ponto de vista comparativo, extraindo ainda dados e mesmo outras grandezas em seu resultado.</p>
    <ul>
        <li><strong>Grandeza diretamente proporcional:</strong> encontrar a razão entre duas grandezas é uma tarefa simples, que serve para que seja possível avaliá-las de um ponto de vista comparativo, extraindo ainda dados e mesmo outras grandezas em seu
            resultado. </li>
    </ul>
    <ul>
        <li><strong>Grandeza inversamente proporcional: </strong>Encontrar a razão entre duas grandezas é uma tarefa simples, que serve para que seja possível avaliá-las de um ponto de vista comparativo, extraindo ainda dados e mesmo outras grandezas em seu
            resultado.
        </li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%204.png" /></a>
    </figure>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%205.png" /></a>
    </figure>
    <h1>Regra de três</h1>
    <hr />
    <p>A regra de três, na matemática, é uma forma de se descobrir uma quantidade que tenha para outra conhecida a mesma relação que têm entre si entre outros dois valores numéricos conhecidos. Existem dois tipos de regra de três: simples e composta.</p>
    <h2>Simples:</h2>
    <ul>
        <li>Construir uma tabela, agrupando as grandezas da mesma espécie em colunas e mantendo na mesma linha as grandezas de espécies diferentes em correspondência.</li>
    </ul>
    <ul>
        <li>Identificar se as grandezas são diretamente ou inversamente proporcionais.</li>
    </ul>
    <ul>
        <li>Montar a proporção e resolver a equação.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%206.png" /></a>
    </figure>
    <h2>Composta</h2>
    <ul>
        <li>Verificar quais são as grandezas envolvidas;</li>
    </ul>
    <ul>
        <li>Determinar qual o tipo de relação entre elas (direta ou inversa);</li>
    </ul>
    <ul>
        <li>Efetuar os cálculos utilizando os dados disponibilizados.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%207.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%207.png" /></a>
    </figure>
    <h1>Porcentagem</h1>
    <hr />
    <p>Porcentagens são chamadas, também de razão centesimal ou de percentual.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%208.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%208.png" /></a>
    </figure>
    <h1>Juro simples e composto</h1>
    <hr />
    <p>Quando uma pessoa pega dinheiro emprestado de algum banco ou instituição financeira, alguma quantia extra é cobrada pelo uso desse dinheiro. Esse valor extra é chamado de juros, e eles podem ser cobrados de duas maneiras: juros simples ou juros compostos.
    </p>
    <p>
    </p>
    <ul>
        <li><strong>Juro simples: </strong>Juros Simples são os juros cobrados como uma porcentagem do montante original emprestado (ou capital inicial), durante todo o período do empréstimo. O valor da taxa de juros deve ser acordada entre as partes.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%209.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%209.png" /></a>
    </figure>
    <ul>
        <li><strong>Juro composto: </strong>Juros compostos são os juros calculados como uma porcentagem do capital original mais os juros acumulados de períodos anteriores.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/mf2/Untitled%2010.png"><img src="http://localhost:8080/img/conteudos/mf2/Untitled%2010.png" /></a>
    </figure>
</body>

</html>