<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/Untitled.png">
        <img src="http://localhost:8080/img/conteudos/gpe/Untitled.png" /></a>
</figure>
<h1>Ponto, reta e plano.</h1>
<hr />
<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/download.png">
        <img src="http://localhost:8080/img/conteudos/gpe/download.png" />
    </a>
</figure>
<ul>
    <li><strong>Ponto: </strong>O ponto não tem espessura. Damos nomes aos pontos usando letras maiúsculas, como
        <strong>P</strong>, <strong>R</strong>,<strong> Q</strong> etc.
    </li>
</ul>
<ul>
    <li><strong>Reta: </strong>Não tem espessura, também não tem limites e se estende infinitamente.</li>
</ul>
<ul>
    <li><strong>Plano:</strong> É uma superfície não espessura. Não tem limites em quaisquer das direções, assim podemos representar apenas parte dele.</li>
</ul>
<h1>Retas paralelas e perpendiculares </h1>
<hr />
<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/Untitled%201.png">
        <img src="http://localhost:8080/img/conteudos/gpe/Untitled%201.png" />
    </a>
</figure>
<ul>
    <li><strong>Retas paralelas: </strong>Se duas retas estão no mesmo plano e não têm pontos em comum, são chamadas paralelas. Também são consideradas retas paralelas as que têm todos os pontos em comum, ou seja, coincidentes.
    </li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/Untitled%202.png">
        <img src="http://localhost:8080/img/conteudos/gpe/Untitled%202.png" />
    </a>
</figure>
<ul>
    <li><strong>Perpendicular:</strong> São retas concorrentes que formam quatro ângulos retos em seu cruzamento.
    </li>
</ul>
<h1>Polígonos</h1>
<hr />
<p>É uma figura plana fechada limitada por 3 ou mais segmentos de reta. Seus elementos são:</p>
<ul>
    <li><strong>Vértices:</strong> são pontos que unem diferentes segmentos de<strong> reta.</strong></li>
</ul>
<ul>
    <li><strong>Lados: </strong>são segmentos de reta que unem vértices consecutivas.</li>
</ul>
<ul>
    <li><strong>Ângulos internos: </strong>são ângulos formados pelos lados consecutivos, e que estão na parte interior do polígono.</li>
</ul>

<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/Untitled%203.png">
        <img src="http://localhost:8080/img/conteudos/gpe/Untitled%203.png" />
    </a>
</figure>
<h1>Quadriláteros</h1>
<hr />
<p>Em geometria plana euclidiana, quadrilátero é um polígono simples de quatro lados. A soma dos seus ângulos internos é igual a bem como a soma dos seus ângulos externos.</p>
<p>
</p>

<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/Untitled%204.png">
        <img src="http://localhost:8080/img/conteudos/gpe/Untitled%204.png" /></a>
</figure>
<h1>Cálculo de perímetro</h1>
<hr />
<p> A soma das medidas de todos os lados de um polígono chama-se perímetro do polígono.</p>
<p>
</p>

<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/Untitled%205.png">
        <img src="http://localhost:8080/img/conteudos/gpe/Untitled%205.png" /></a>
</figure>
<h1>Cálculo de área</h1>
<hr />
<p>Área: equivale a medida da superfície de uma figura geométrica.Para encontrar a área de uma figura basta multiplicar a base (b) pela altura (h).</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/Untitled%206.png">
        <img src="http://localhost:8080/img/conteudos/gpe/Untitled%206.png" /></a>
</figure>
<p>
</p>

<h1>Geometria Espacial</h1>
<hr />
<p>A Geometria Espacial corresponde a área da matemática que se encarrega de estudar as figuras no espaço, ou seja, aquelas que possuem mais de duas dimensões.</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/gpe/Untitled%207.png">
        <img src="http://localhost:8080/img/conteudos/gpe/Untitled%207.png" /></a>
</figure>
<p>
</p>
<p>referências: matemática conexão. Autores: Célia Lopes, Lane Alencar, Gizelton Alencar.</p>