<h1>Números fracionários</h1>
<hr />
<p>Os números racionais são os números que podem ser escritos na forma de fração. Esses números podem também ter representação decimal finita ou decimal infinita e periódica.</p>
<h1>Notação</h1>
<hr />
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled.png" /></a>
</figure>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%201.png" /></a>
</figure>
<p>
</p>
<h1>Leitura e classificação</h1>
<hr />
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%202.png" /></a>
</figure>
<ul>
    <li>Para fazermos as leituras de uma fração devemos observar o seu denominador, pois a partir dele as suas nomenclaturas são diferenciadas.</li>
</ul>
<ul>
    <li>Quando o denominador for qualquer outro número que não está representado acima devemos acrescentar a palavra avos na sua leitura.</li>
</ul>
<h3>Fração própria</h3>
<p>numerador<strong> &lt; </strong>denominador
</p>
<h3>Fração imprópria</h3>
<p>numerador &gt; denominador</p>
<h1>Operação com frações</h1>
<hr />
<h2>Soma e subtração de fração </h2>
<ul>
    <li><strong>1 situação:</strong> Se as frações possuem o mesmo denominador, soma-se os numeradores (termos de cima) e conserva-se os denominadores (termos de baixo). </li>
</ul>
<ul>
    <li><strong>1 situação:</strong> Se as frações possuem o mesmo denominador, soma-se os numeradores (termos de cima) e conserva-se os denominadores (termos de baixo). </li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%203.png" /></a>
</figure>
<ul>
    <li><strong>2 situação: </strong>Somar frações com denominadores diferentes necessita saber calcular o MMC (mínimo múltiplo comum) entre dois números. Depois dividimos pelos denominadores e multiplicamos de numeradores.
    </li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%204.png" /></a>
</figure>
<h2>Multiplicação e divisão</h2>
<ul>
    <li><strong>1 situação:</strong> Basta multiplicar o numerador de uma fração pelo numerador (o número de cima) da outra fração, e multiplicar o denominador (o número de baixo) de uma pelo denominador da outra. </li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%205.png" /></a>
</figure>
<ul>
    <li><strong>2 situação: </strong>Mantem a primeira fração e multiplica pelo inverso da segunda
    </li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%206.png" /></a>
</figure>
<h1>Números Decimais</h1>
<hr />
<p>
</p>
<p>Os números decimais são números racionais (Q) não inteiros expressos por vírgulas e que possuem casas decimais, por exemplo: 1,54; 4,6; 8,9, etc. Eles podem ser positivos ou negativos.</p>
<p>
</p>
<hr />
<h1>Leitura de Números Decimais</h1>
<hr />
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%207.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%207.png" /></a>
</figure>
<h1>Operações com Números Decimais</h1>
<hr />
<h2>Soma e subtração de números decimais</h2>
<ul>
    <li><strong>1 situação</strong>:Para realizar as operações dos números decimais, devemos alinhar os números segundo a vírgula e as casas decimais que possuem.</li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%208.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%208.png" /></a>
</figure>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%209.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%209.png" /></a>
</figure>
<h2>Multiplicação </h2>
<ul>
    <li><strong>2 situação: </strong>Multiplicamos como números naturais sem vírgula. Terminada a multiplicação, conte o número de casas depois das vírgulas. No resultado da multiplicação, posicione a vírgula decimal contando, da direita para a esquerda,
        o número de casas contado no item anterior.
    </li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%2010.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%2010.png" /></a>
</figure>
<h2>Divisão</h2>
<ul>
    <li>Quando o dividendo ou o divisor é um número decimal, é preciso igualar o número de casas decimais entre eles e depois dividimos como números naturais (sem vírgula).</li>
</ul>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%2011.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%2011.png" /></a>
</figure>