<h1>Unidades de medidas</h1>
<p>Na ciência, unidade de medida é uma medida específica de determinada grandeza física usada para servir de padrão para outras medidas.</p>
<h1>Medidas de comprimento</h1>
<hr />
<p>Os múltiplos e submúltiplos do metro são: quilômetro (km), hectômetro (hm), decâmetro (dam), decímetro (dm), centímetro (cm) e milímetro (mm).</p>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/um/Untitled.png"><img src="http://localhost:8080/img/conteudos/um/Untitled.png" /></a>
</figure>
<h1>Medidas de Massa</h1>
<hr />
<p>As unidades de massa são: quilograma (kg), hectograma (hg), decagrama (dag), grama (g), decigrama (dg), centigrama (cg) e miligrama (mg).</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/um/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/um/Untitled%201.png" /></a>
</figure>
<h1>Medidas de Capacidade</h1>
<hr />
<p>Os múltiplos e submúltiplos do litro são: quilolitro (kl), hectolitro (hl), decalitro (dal), decilitro (dl), centilitro (cl), mililitro (ml).</p>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/um/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/um/Untitled%202.png" /></a>
</figure>
<h1>Medidas de Volume</h1>
<hr />
<p>No SI a unidade de volume é o metro cúbico (m3). Os múltiplos e submúltiplos do m3 são: quilômetro cúbico (km3), hectômetro cúbico (hm3), decâmetro cúbico (dam3), decímetro cúbico (dm3), centímetro cúbico (cm3) e milímetro cúbico (mm3).</p>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/um/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/um/Untitled%203.png" /></a>
</figure>
<p>
</p>