<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bloco de Notas</title>
	<link rel="stylesheet" th:href="@{/css/dragula/dragula.css}">
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
	<link rel="stylesheet"
	th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/Card/styles.css}">
	<link rel="stylesheet" th:href="@{/css/fragments/header/styles.css}">
	<link rel="stylesheet" th:href="@{/css/fragments/footer/styles.css}">
</head>

<body>
    
    <div th:replace="fragments/header :: header"></div>
    
	<div class="container">
		<div class="container-sec">
			<nav class="nav">
				<div class="nav-items">
					<button id="bt-adicionar" onclick="createCardElement()">
						<i class="large material-icons">add_circle_outline</i>
					</button>
					<input type="search" id="campo_pesquisar" oninput="filterCards()"
						placeholder="Pesquisar conteúdo...">
				</div>
			</nav>

			<!-- Container - Cards -->
			<div class="container-cards">
				<div th:each="card : ${cards}" class="card" th:id="${card.id}">
					<div class="card-body">
						<div class="card-nav">
							<h2 class="title" th:text="${card.titulo}">Titulo</h2>
						</div>
						<div class="card-content">
							<p class="area" th:text="${card.texto}">Digite aqui...</p>
						</div>
						<div class="card-footer">
							<footer>
								<a class="bt-deletar"
									th:href="@{'/blocos/' + ${card.id}}"> <i
									class="large material-icons">delete</i>
								</a>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Container - Card de Edição -->
		<div class="container-opened">

			<form id="form-edicao"
				th:action="@{/blocos/}"
				th:object="${card}" th:method="POST">
				<div class="card-edicao">
					<div class="card-body">
						<div class="card-nav">
							<div class="card-title">
								<input th:field="*{titulo}" maxlength="30" id="title"
									placeholder="Título">
							</div>
						</div>
						<div class="card-content">
							<textarea class="textarea" th:field="*{texto}" id="area"
								cols="30" rows="10" placeholder="Digite algo.."></textarea>
						</div>
						<footer>
							<button class="bt-colors" id="bt-cor">
								<i class="large material-icons">color_lens</i>
							</button>
							<button type="submit" id="bt-salvar">
								<i class="large material-icons">save</i>
							</button>
						</footer>
					</div>
				</div>
			</form>
		</div>
	</div>

    <div th:replace="fragments/footer:: footer"></div>

	<script th:src="@{/js/jquery/jquery-3.5.1.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js}"></script>
	<script th:src="@{/js/Card/script.js}"></script>
	
</body>
</html>