@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');

/*                 CONFIGURAÇÕES GERAIS                */
*{
    margin: 0;
    padding: 0;
}


body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky; 
    top: 0;
    z-index: 3; /*profundidade dos itens do site, não mudar pois "impede" que as seções ultrapassem o menu*/
}

/*                 CONFIGURAÇÕES DO MENU               */

.navbar{
    background-image: linear-gradient(to right,#514A9D,#36D1DC);
    padding: 0 !important; /*!important "ignora" cascata, define como prioridade onde foi atribuido*/
}

.nav-brand img{
height: 40px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: white !important;
    font-weight: 600;
    text-align: left;
}

.fa-bars{
    color: white;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/*               PRINCIPAL              */

#principal{
    background-image:  linear-gradient(to right,#514A9D,#36D1DC);
    color: white;
    padding-top: 0%;
}
.chamado p{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Architects Daughter', cursive; /*testar mais*/
}
.chamado{
    font-size: 40px;
    font-weight: 600;
    margin-top: 110px;
    padding-left: 15px;
} 

/*              BOTÃO INSCREVA-SE                */

.inscrever{
    width: 110px;
    margin: 20px;
    margin-left: 150px;
    margin-top: 0px;

}



.img-home{
    margin-top: -70px;
    width: 400;
    margin: 400;

}

.img-fluid#borda{
    width: 100%;

}
  

/* Section de SOBRE */

#sobre{
    padding: 80px 0;
}

#img-sobre{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
    /*Configurações das imagens*/
}

.sobre{
    padding: 20px;

}
.sobre h4{
    padding: 5px;
    margin-top: 25px;
    /*Tamanho e posição do texto Título*/
}

.titulo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    /*Tamanho e posição do texto*/
}

.btn-mais{
 text-align: center; /*Centralizar Botão*/
}

/*
ANOTAÇÃO: verificar class::before pra seção sobre
}*/

/*Fale Conosco*/

#contato{
    background: #f8f9fa;
    padding: 100px 0; /*Tamanho do "Quadrado" onde a seção 'Fale Conosco' está inserida*/
    
}

#contato p{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    /*Tamanho e posição do texto*/
}