<html>

<body>
    <h1>Geometria e espacial</h1>
    <p>Parte da matemática cujo objeto é o estudo do espaço e das figuras que podem ocupá-lo.</p>
    <p>
    </p>
    <h1>polígonos</h1>
    <p>Polígonos são figuras geométricas planas e fechadas formadas por segmentos de reta.Quando um polígono possui todos os seus lados iguais e, consequentemente, todos os ângulos internos iguais, trata-se de um polígono regular. Os polígonos regulares
        podem ser nomeados de acordo com a quantidade de seus lados.</p>
    <ul>
        <li><strong>Convexo: </strong>Polígonos são convexos quando qualquer segmento de reta que possui extremidades em seu interior está totalmente contido no polígono</li>
    </ul>
    <ul>
        <li><strong>Não convexo: </strong>Os polígonos que têm um vértice voltado para dentro, formando uma espécie de “boca”, não são convexos.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ge/Untitled.png"><img src="http://localhost:8080/img/conteudos/ge/Untitled.png" /></a>
    </figure>
    <h1>Triângulo</h1>
    <hr />
    <p>Triângulo é um polígono de três lados e três ângulos. Há sete tipos de triângulos e sua classificação depende da disposição dos ângulos podendo ser: isósceles, equilátero, escaleno, retângulo, obtuso, agudo ou equiângulo.</p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ge/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/ge/Untitled%201.png" /></a>
    </figure>
    <p>
    </p>
    <h1>Quadrilátero</h1>
    <hr />
    <p>Quadriláteros são polígonos que possuem quatro lados. Sendo assim, os quadriláteros herdam todas as características e propriedades dos polígonos, como o fato de possuírem apenas duas diagonais ou de a soma dos seus ângulos internos ser sempre igual
        a 360°.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ge/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/ge/Untitled%202.png" /></a>
    </figure>
    <h1>Circunferência e círculo</h1>
    <hr />
    <p>A circunferência e o círculo são figuras geométricas planas que aparecem com frequência na natureza. Assim como as outras formas geométricas possuem seus elementos, a circunferência e o círculo também possuem algumas características especiais.</p>
    <ul>
        <li><strong>Circunferência:</strong> Uma circunferência é uma região do plano formada por pontos que são equidistantes de um ponto fixo chamado de centro da circunferência, ou seja, é formada por pontos que possuem a mesma distância do centro. Na
            circunferência temos: raio, diâmetro e corda</li>
    </ul>
    <ul>
        <li><strong>Círculo: </strong>A definição de círculo é decorrente da definição de circunferência, pois um círculo é a região interna da circunferência. Fazendo um comparativo, temos que a circunferência é a extremidade, e o círculo é toda a região
            delimitada por essa extremidade. No círculo temos: a região interna da circunferência.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ge/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/ge/Untitled%203.png" /></a>
    </figure>
    <h1>Área e perímetro</h1>
    <p>Área: equivale a medida da superfície de uma figura geométrica. Perímetro: soma das medidas de todos lados de uma figura.
    </p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ge/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/ge/Untitled%204.png" /></a>
    </figure>
    <h1>Sólidos geométricos</h1>
    <hr />
    <p>Sólidos geométricos são figuras geométricas que possuem três dimensões e, por isso, só podem ser definidas no espaço tridimensional.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ge/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/ge/Untitled%205.png" /></a>
    </figure>
    <h1>Planificação de prisma</h1>
    <p>Os <a href="http://localhost:8080/img/conteudos/ge.com.br/prisma/">prismas</a> são caracterizados por serem poliedros com duas bases congruentes e paralelas, além das faces planas laterais (paralelogramos). Os exemplos mais comuns são:</p>
    <ul>
        <li>prisma triangular;</li>
    </ul>
    <ul>
        <li>cubo;</li>
    </ul>
    <ul>
        <li>paralelepípedo;</li>
    </ul>
    <ul>
        <li>prisma pentagonal;</li>
    </ul>
    <ul>
        <li>prisma hexagonal.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ge/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/ge/Untitled%206.png" /></a>
    </figure>
    <p>
    </p>
    <p>referências: matemática conexão. Autores: Célia Lopes, Lane Alencar, Gizelton Alencar.</p>
</body>

</html>