<html>

<body>
    <h1>Números reais</h1>
    <p>O conjunto dos reais é representado pela letra maiúscula R e é formado pelos números naturais, inteiros, racionais e irracionais.</p>
    <h1>Potenciação</h1>
    <hr />
    <p>A potenciação ou exponenciação é a operação matemática que representa a multiplicação de fatores iguais. Ou seja, usamos a potenciação quando um número é multiplicado por ele mesmo várias vezes.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled.png"><img src="http://localhost:8080/img/conteudos/nre/Untitled.png" /></a>
    </figure>
    <ul>
        <li><strong>Multiplicação e divisão: </strong>Na multiplicação das potências de bases iguais, mantém-se a base e soma-se os expoentes e na Divisão das potências de bases iguais, mantém-se a base e subtrai-se os expoentes.
        </li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/nreUntitled%201.png" /></a>
    </figure>
    <h1>Radiação</h1>
    <hr />
    <p>Radiciação é a operação que realizamos quando queremos descobrir qual o número que multiplicado por ele mesmo uma determinada quantidades de vezes dá um valor que conhecemos.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/nreUntitled%202.png" /></a>
    </figure>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/nreUntitled%203.png" /></a>
    </figure>
    <h1>Raízes exatas e aproximadas</h1>
    <hr />
    <p>Raízes exatas são aquelas que você consegue extrair um número inteiro, e as aproximadas são as que não é possível se extrair um número inteiro.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/nreUntitled%204.png" /></a>
    </figure>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/nreUntitled%205.png" /></a>
    </figure>
    <h1>Números irracionais</h1>
    <p>Os Números Irracionais são números decimais, infinitos e não-periódicos e não podem ser representados por meio de frações irredutíveis.</p>
    <p>
    </p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/nreUntitled%206.png" /></a>
    </figure>
    <p>
    </p>
    <h1>Conjuntos dos números reais</h1>
    <p>O conjunto dos reais é representado pela letra maiúscula R e é formado pelos números naturais, inteiros, racionais e irracionais.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled%207.png"><img src="http://localhost:8080/img/conteudos/nreUntitled%207.png" /></a>
    </figure>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nre/Untitled%208.png"><img src="http://localhost:8080/img/conteudos/nreUntitled%208.png" /></a>
    </figure>
</body>

</html>