// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge( ( "100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900), $grays);
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$corPadrao: #34558B !default;
$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge( ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "corPadrao": $corPadrao, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800), $colors);
$primary: $corPadrao !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge( ( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark), $theme-colors);
@import "../sass/node_modules/bootstrap/scss/bootstrap.scss";
body,
html {
    background-image: url(https://images.wallpaperscraft.com/image/pen_notebook_cell_formula_study_80658_1920x1200.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

form {
    color: white;
    background-color: $blue;
    box-shadow: 1px 1.5px 3px 0.7px rgb(0.1, 0.1, 0.2);
    border-radius: 20px;
    animation-name: entraForm;
    animation-timing-function: linear;
    animation-duration: 250ms;
    animation-fill-mode: both;
    .btn-primary {
        border-radius: 20px;
    }
}

legend {
    text-align: center;
    font-size: 250%;
}

a {
    color: #e6e9f7;
}

.input-group,
small {
    margin-left: 7%;
}

input {
    text-align: left;
    padding-left: 1%;
    width: 60%;
}

@keyframes entraForm {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}