:root {
    --sidelist-text: #0a0a0a;
    --sidelist-text-hover: #fff;
    --sidbar-background: #ffffffc0;
    --sidelist-background-hover: #1e87dd;
    --sidelist-link: #555;
	--main-background: rgba(32, 83, 131, 0.664);
	--main-text: white;
	
}

*{
	margin: 0;
	padding: 0;
}

img{
	max-width: 700px;
	height: auto;
}

html,body{
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.container{
	margin-top: 30px;
	display: flex;
	flex: 1;
}

.container .lista-conteudos{
	display: flex;
	padding-top: 40px;
	padding: 8px;
	flex-direction: column;	
}

.container .lista-conteudos ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container .lista-conteudos ul li{
	width: 100%;
	list-style: none;
	cursor: pointer;
	margin-top: 4px;
	transition: .4s;	
}

.container .lista-conteudos ul li:hover{
	color: white;
	background: black;
}

.container .conteudo{
	display: flex;
	flex-direction: column;
}

.container .conteudo > *{
	margin-left: 30px;
}