<html>

<body>
    <h1>Números Inteiros</h1>
    <p>Os números inteiros são os números positivos e negativos. Estes números formam o conjunto dos números inteiros, indicado por ℤ.</p>
    <h1>Representação geométrica dos números inteiros </h1>
    <hr />
    <figure>
        <a href="http://localhost:8080/img/conteudos/ni/Untitled.png"><img src="http://localhost:8080/img/conteudos/ni/Untitled.png" /></a>
    </figure>
    <h1>Número Oposto</h1>
    <p>Um número será o oposto ou simétrico de outro número quando for representado em uma reta numérica e possuir a mesma distância da origem em relação a outro número.
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ni/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/ni/Untitled%201.png" /></a>
    </figure>
    <ul>
        <li>Essa distância de um número à origem é chamada de módulo ou valor absoluto.</li>
    </ul>
    <h1>Operação com números inteiros(z).</h1>
    <hr />
    <p>Operação envolvendo números inteiros envolve algumas regras de sinais.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ni/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/ni/Untitled%202.png" /></a>
    </figure>
    <h1>Expressão numérica</h1>
    <hr />
    <p>Expressões numéricas são sequências de duas ou mais operações que devem ser realizadas respeitando determinada ordem. Sempre resolva primeiro as potências e raízes antes de qualquer outra operação matemática. A única exceção é para o caso em que aparecem
        colchetes, chaves ou parênteses.</p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ni/aula-06-6-ano-cem-42-728.jpg"><img src="http://localhost:8080/img/conteudos/ni/aula-06-6-ano-cem-42-728.jpg" /></a>
    </figure>
    <figure>
        <a href="http://localhost:8080/img/conteudos/ni/aula-06-6-ano-cem-42-728%201.jpg"><img src="http://localhost:8080/img/conteudos/ni/aula-06-6-ano-cem-42-728%201.jpg" /></a>
    </figure>
</body>

</html>