<html>

<body>
    <h1>Números Racionais</h1>
    <p>Os números racionais são os números que podem ser escritos na forma de fração. Esses números podem também ter representação decimal finita ou decimal infinita e periódica.</p>
    <p>
    </p>
    <h1>Representação geométrica dos números racionais</h1>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nr/Untitled.png"><img src="http://localhost:8080/img/conteudos/nr/Untitled.png" /></a>
    </figure>
    <h1>Número Decimais </h1>
    <ul>
        <li><strong>Adição e subtração:</strong></li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nr/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/nr/Untitled%201.png" /></a>
    </figure>
    <ul>
        <li><strong>Multiplicação:</strong></li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nr/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/nr/Untitled%202.png" /></a>
    </figure>
    <ul>
        <li><strong>Divisão:</strong></li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nr/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/nr/Untitled%203.png" /></a>
    </figure>
    <h1>Raiz quadrada e cúbica</h1>
    <p>A raiz quadrada de um algarismo é dada por um o número positivo n, que ao ser elevado ao quadrado (multiplicado por ele mesmo), se iguala a x. Na área da matemática, a raiz quadrada auxilia na resolução de vários problemas, entre eles as equações
        de segundo grau e o Teorema de Pitágoras.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nr/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/nr/Untitled%204.png" /></a>
    </figure>
    <ul>
        <li>Como já dito, a raiz quadrada corresponde à multiplicação de um número por ele mesmo. Por exemplo, v9 = 3, a raiz obtida é um número inteiro, sendo denominada de quadrado perfeito ou raiz quadrada exata.
        </li>
    </ul>
    <ul>
        <li>Porém, quando a raiz obtida não é o número inteiro, ela é denominada de quadrado imperfeito ou raiz quadrada não exata. Todos os números que possuem essa característica, fazem parte do conjunto dos números irracionais e, consequentemente, as raízes
            são decimais infinitos.</li>
    </ul>
    <p>
    </p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nr/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/nr/Untitled%205.png" /></a>
    </figure>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/nr/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/nr/Untitled%206.png" /></a>
    </figure>
</body>

</html>