<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Area do Aluno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./css/estilo-login.css">
    <link rel="stylesheet" href="./css/fontawesome/all.min.css">
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>E-MAIL</th>
            <th>NOME</th>
            <th>USUARIO</th>
        </tr>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.id}"></td>
            <td th:text="${aluno.email}"></td>
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.usuario}"></td>
        </tr>
    </table>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="form-login.js" async defer></script>
</body>

</html>