<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Cadastro</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!--JQUERY <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<link rel="stylesheet" href="../fontawesome/css/all.min.css">
<link rel="stylesheet" href="../css/estilo-login.css">
</head>
<body>
	<div class="main-container">
		<div class="container">
			<div class="col-md-10">
				<form th:action="@{/aluno/cadastrar/salvar}" th:object="${aluno}"
					th:method="POST">
					<legend>Cadastro</legend>

					<!-- Nome -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-append">
								<span class="input-group-text"><i
									class="fas fa-signature"></i></span>
							</div>
							<input type="text" name="nome" placeholder="Digite seu nome"
								th:field="*{nome}">
						</div>
					</div>

					<!-- Usuario -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="far fa-user"></i></span>
							</div>
							<input type="text" name="usuario"
								placeholder="Digite o nome do seu usuário" th:field="*{usuario}">
						</div>
					</div>

					<!-- Email -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon1"><i
									class="fas fa-at"></i></span>
							</div>
							<input type="email" name="email" placeholder="Digite seu e-mail"
								th:field="*{email}">
						</div>
					</div>

					<!-- Senha -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="senha"
								placeholder="Digite sua senha">
						</div>
					</div>

					<!-- Senha novamente -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="senha"
								placeholder="Digite sua novamente sua senha" th:field="*{senha}">
						</div>
					</div>

					<!-- Redirencionar Login -->
					<div class="form-group">
						<small class="small">Já tem conta? <a href="/aluno/login">Clique
								aqui para fazer login.</a></small>
						<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
					</div>
				</form>
			</div>
		</div>
		<script src="form-cadastro.js" async defer></script>
</body>

</html>