<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../css/estilo-login.css">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="col-md-10">
                <form action="#" th:action="@{/aluno/login/logar}" th:object="${aluno}" method="POST">
                    <legend>Login</legend>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="email" name="email" placeholder="E-mail">
                        </div>
                        <small class="small">Ex: user@gmail.com</small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="senha" placeholder="Digite sua senha...">
                        </div>
                        <small class="small">*Mínimo de 8 caracteres</small>
                    </div>

                    <div class="form-group">
                        <small class="small">Não tem nenhuma conta? <a href="/aluno/cadastrar">Clique aqui para criar uma.</a></small>
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
    <script src="form-login.js" async defer></script>
</body>

</html>