<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Área do Aluno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:if="${template == 'card'}">
        <link rel="stylesheet" th:href="@{/css/estilo-card.css}">
        <link rel="stylesheet" th:href="@{/node_modules/dragula/dist/dragula.min.css}">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
        <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/estilo-home.css}">
        <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    </div>
    <!-- Modulos -->

    <div th:if="${template == 'modulos'}">
        <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/estilo-home.css}">
        <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    </div>
</head>

<body>
    <!-- <div th:fragment="nav"> -->
    <div class="wrapper">
        <div class="top_navbar">
            <button class="hamburger">
				<i class="fas fa-bars"></i>
			</button>
        </div>
        <div class="top_menu">
            <nav class="navbar navbar-expand-lg navbar-light" id="gadient">
                <a class="navbar-brand" href="#">
                    <img th:src="@{/img/logouno.png}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link navFragments" th:name="conteudo" th:href="@{#}">
                                CONTEÚDO
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navFragments" th:name="chat" th:href="@{#}">
                                MENSAGENS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navFragments" th:name="calendar" th:href="@{#}">
                                CALENDÁRIO
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navFragments" th:name="card" th:href="@{#}">
                                ANOTAÇÕES
                            </a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="sidebar">
            <ul>
                <li class="pefil">
                    <a th:href="@{#}" class="active">
                        <i class="fas fa-user-circle fa-3x" aria-hidden="true"></i> Meu Perfil
                    </a>
                </li>
                <li>
                    <a th:href="@{#}">
                        <i class="far fa-address-book fa-lg" aria-hidden="true"></i> Professores
                    </a>
                </li>
                <li>
                    <a th:href="@{#}">
                        <i class="far fa-question-circle fa-lg" aria-hidden="true"></i> Ajuda
                    </a>
                </li>
                <li>
                    <a th:href="@{#}">
                        <i class="fas fa-phone-square-alt fa-lg" aria-hidden="true"></i> Fale Conosco
                    </a>
                </li>
                <li>
                    <a th:href="@{#}">
                        <i class="fas fa-cog fa-lg" aria-hidden="true"></i> Configurações
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="fragmento" th:replace="'fragments/' + ${template} :: ${template}"></div>

    <script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $(".hamburger").click(function() {
                $(".sidebar").toggle();
            });
        });
    </script>

    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/homepage.js}"></script>
    <!-- </div> -->
</body>

</html>