<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>MathEasy</title>
<link rel="stylesheet"
	th:href="@{https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap}">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/estilo.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
</head>

<body>

	<section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light" id="gadient">
			<a class="navbar-brand" href="#"><img
				th:src="@{/img/logouno.png}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#">PÁGiNA
							INICIAL</a></li>
					<li class="nav-item"><a class="nav-link" href="#">SOBRE</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/aluno/login}">ENTRAR</a>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/aluno/cadastrar}">CADASTRE-SE</a></li>
					<li class="nav-item"><a class="nav-link" href="#">FALE
							CONOSCO</a></li>
				</ul>
			</div>
		</nav>
	</section>

	<!--------principal----------->

	<section id="principal">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="chamado">APRENDA CONOSCO</p>
					<p>
						Junte-se ao MathEasy, uma plataforma de ensino básico da <br />Matemática
						aos alunos do Ensino Médio brasileiro.
					</p>
					<a href="#"><img th:src="@{/img/btn-inscreva.png}"
						class="inscrever" /></a>
				</div>
				<div class="col-md-6 text-center">
					<img th:src="@{/img/img-home.png}" class="img-fluid" />
				</div>
			</div>
		</div>
		<img th:src="@{/img/borda1.png}" class="img-fluid" id="borda">


	</section>

	<!--------SOBRE---------->

	<section id="sobre">

		<div class="container">
			<h1 class="titulo">SOBRE O SITE</h1>
			<div class="row text-center">
				<div class="col-md-4 sobr">
					<img th:src="@{/img/professora4.png}" class="img-fluid"
						id="img-sobre">
					<h4>Nossa Proposta</h4>
					<p>O MathEasy foi criado no intuito de auxiliar aqueles alunos
						que ao chegar no Ensino Médio sentem dificuldades em aprender os
						assuntos acumulativos da disciplina de Matemática.</p>
				</div>
				<div class="col-md-4 sobr">
					<img th:src="@{/img/why.png}" class="img-fluid" id="img-sobre">
					<h4>Por que revisar?</h4>
					<p>It is a long established fact that a reader will be
						distracted by the readable content of a page when looking at its
						layout. The point of using Lorem Ipsum is that it has a
						more-or-less normal distribution of letters, as opposed to using
						'Content here, content here', making it look like readable
						English. Many desktop publishing packages and web page editors now
						use Lorem Ipsum as their default model text, and a search for
						'lorem ipsum' will uncover many web sites still in their infancy.
						Various versions have evolved over the years, sometimes by
						accident, sometimes on purpose (injected humour and the like)..</p>
				</div>
				<div class="col-md-4 sobr">
					<img th:src="@{/img/professora-de-oculos.png}" class="img-fluid"
						id="img-sobre">
					<h4>Como o MathEasy Funciona</h4>
					<p>O MathEasy foi criado no intuito de auxiliar aqueles alunos
						que ao chegar no Ensino Médio sentem dificuldades em aprender os
						assuntos acumulativos da disciplina de Matemática.</p>
				</div>
			</div>
			<div class="btn-mais">
				<button type="button" class="btn btn-primary">Saiba Mais</button>
			</div>
		</div>

	</section>

	<!-------Fale Conosco------->
	<section id="contato">
		<div class="container text-center">
			<p>NOSSAS REDES SOCIAIS</p>
		</div>
		<div class="social-icons">
			<a href="#"></a>
	</section>
	<script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
</body>

</html>