<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilo-login.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="col-md-10">
                <form action="#" th:action="@{/aluno/login}" th:object="${entidade}" method="POST">
                    <legend>Login v</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="large material-icons">email</i>
                                </span>
                            </div>
                            <input type="email" placeholder="E-mail" th:field="*{email}">
                        </div>
                        <small class="small">Ex: user@gmail.com</small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="large material-icons">vpn_key</i>
                                </span>
                            </div>
                            <input type="password" placeholder="Digite sua senha..." th:field="*{senha}">
                        </div>
                        <small class="small">*Mínimo de 8 caracteres</small>
                    </div>

                    <div class="form-group">
                        <small class="small">Não tem nenhuma conta? <a th:href="@{/aluno/cadastrar}">Clique aqui para criar uma.</a></small>
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/form-login.js}"></script>
</body>

</html>