<h1>Noções de Função</h1>

<p>Uma função é uma regra que determina uma relação entre elementos de dois conjuntos diferentes. Um exemplo prático é uma loja de grãos, onde existe relação entre a quantidade de grãos e o preço que irá ser pago. </p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/graos.png"><img src="http://localhost:8080/img/conteudos/nf/graos.png" /></a>
</figure>
<p>Para cada dez grãos serão pagos R$5,0 como representado acima. O valor a ser pago pelos grãos é dado <em>em função </em>da quantidade de grãos, a quantidade (o container amarelo) influência no preço (segundo container). Podemos chamar o container amarelo
    de <strong>domínio </strong>e o vermelho de <strong>imagem.</strong></p>
<p>
</p>
<h1>Coordenadas Cartesianas</h1>
<hr />
<p>Assim como coordenadas geográficas, coordenadas cartesianas servem para localização de um elemento em um ponto e ao invés de um mapa esse ponto está disposto em um Plano Cartesiano. A representação também remete as coordenadas geográficas porém ao invés
    de latitude e longitude utilizamos x e y. </p>
<p>O par ordenado são as coordenadas cartesianas, como no exemplo abaixo:</p>
<p>A (x, y) ==&gt; x e y são as coordenadas (par ordenado) do ponto A. Lembrando, é claro, que a ordem dos elementos é de extrema importância, o x sempre vem antes do y em qualquer par ordenado.</p>
<p>Denominamos de <strong>abscissa</strong> o 1º número do par ordenado, e <strong>ordenada</strong>, o 2º número desse par. Assim:</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled.png" /></a>
</figure>
<h1>Construção de Gráficos de Função</h1>
<hr />
<p>Para construir o gráfico de uma função não é preciso necessariamente saber seu tipo (afim, exponencial, quadrática e etc). É possível construir um gráfico de qualquer função matemática seguindo alguns passos:</p>
<p> </p>
<h3>1. Desenhar o Plano Cartesiano: </h3>
<p>O plano cartesiano é formado por duas retas numéricas perpendiculares entre si. Uma delas é conhecida como eixo x, ou eixo das abscissas, e a outra como eixo y, ou eixo das ordenadas. Cada ponto que é traçado no plano cartesiano, costuma ser chamado de
    par ordenado (coordenada cartesiana, como visto agora a pouco), na forma P(x,y). </p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/plano-cartesiano.webp"><img src="http://localhost:8080/img/conteudos/nf/plano-cartesiano.webp" /></a>
</figure>
<p>O esboço do gráfico é de extrema importância para o terceiro passo.</p>
<h3>2. Determinar o Domínio da Função:</h3>
<p>O domínio de uma função sempre será formado pelos valores numéricos que podem substituir o lugar da sua variável e ainda assim, fazer com que a função exista. Em alguns casos o domínio das funções é apresentado com clareza, seja na forma de conjunto com
    elementos finitos, ou na forma de conjunto numérico como um todo.</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%201.png" /></a>
</figure>
<ul>
    <li><strong>Domínio não evidente: </strong>Em alguns casos o domínio não é apresentado com clareza como o acima então é necessário que você mesmo o faça.</li>
</ul>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%202.png" /></a>
</figure>
<h3>3. Tabela de Pares Ordenados:</h3>
<p>Ao encontrar o domínio de uma função para traçar os pontos no gráfico é necessário montar uma tabela com alguns valores para x e y que serão cruzados no gráfico como nos exemplos abaixo:</p>
<p>
</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%203.png" /></a>
</figure>
<h3>4. Traçar os pontos:</h3>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%204.png" /></a>
</figure>
<h3>5. Ligar os pontos: </h3>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%205.png" /></a>
</figure>
<figure>
    <div>
        <a></a>
    </div>
</figure>
<h1>Função Afim</h1>
<hr />
<p>A função afim é toda função polinomial de primeiro grau, isto é, na qual o maior expoente é 1. Também conhecida como função de primeiro grau.</p>
<p>
</p>
<h3>1. Lei de Formação</h3>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%206.png" /></a>
</figure>
<h3>2. Raíz de uma Função Afim</h3>
<p>A raiz da função afim é o ponto em que ela atravessa o eixo x, isto é, o ponto em que y = 0. Isso quer dizer que, para descobrir a raiz de uma função afim, basta substituir o y por 0 na fórmula. Ao fazer isso, você tem:</p>
<p>f(x) = ax + b</p>
<p>0 = ax + b</p>
<p>ax = -b</p>
<p>x = -b/a</p>
<h3>3. Gráfico de uma Função Afim</h3>
<p>O gráfico da função afim é uma reta crescente ou decrescente. A reta somente não pode ser perpendicular aos eixos x ou y.</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/par.png"><img src="http://localhost:8080/img/conteudos/nf/par.png" /></a>
</figure>
<h3>3. Como Encontrar dois Pontos em uma Função Afim </h3>
<p>Como o gráfico da função afim é uma reta, você só precisa de dois pontos para traçá-lo. O primeiro é o ponto da raiz, que você já viu. O segundo é o ponto em que a reta atravessa o eixo y, isto é, em que o x = 0. </p>
<h3>4. Coeficiente da Função Afim</h3>
<p>A função afim tem dois coeficientes: angular e linear.</p>
<p>O <strong>coeficiente angular</strong> corresponde, na função, ao a. No gráfico, é a <a href="https://www.stoodi.com.br/blog/2018/11/01/seno-cosseno-e-tangente/">tangente</a> do ângulo α (alfa), formado pela intersecção entre a reta da função e o eixo
    x. Enquanto isso, o <strong>coeficiente linear</strong> corresponde, na função, ao b. No gráfico, é o ponto de interseção entre a reta da função e o eixo y.</p>
<h3>5. Função Afim Crescente e Decrescente</h3>
<p>Você pode determinar a direção da reta do gráfico da função a partir do coeficiente angular, que também é chamado de taxa de crescimento. Quando o coeficiente é maior do que zero, temos uma função afim crescente; quando é menor do que zero, temos uma
    função afim decrescente.</p>
<p>
</p>
<h1>Função Quadrática</h1>
<hr />
<p>A função quadrática, também chamada de função polinomial de 2º grau, é uma função representada pela expressão:</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%207.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%207.png" /></a>
</figure>
<h3>1. Raiz de uma Função Quadrática</h3>
<p>A raiz de um função quadrática são 2 valores numéricos que quando substituem o lugar de x na função, tornam o valor desta função igual a zero ƒ(x) = 0. Dependendo do valor do discriminante (∆), uma função quadrática pode ter duas raízes reais e distintas,
    duas raízes reais e iguais ou então, duas raízes complexas.</p>
<h3>2. Gráfico de uma Função Quadrática</h3>
<p>O gráfico de uma função do 2º grau é dado por uma parábola com concavidade voltada para cima ou para baixo. A parábola intersecciona ou não, o eixo das abscissas (x), isso depende do tipo de equação do 2º grau que compõe a função.</p>
<figure>
    <a href="http://localhost:8080/img/conteudos/nf/Untitled%208.png"><img src="http://localhost:8080/img/conteudos/nf/Untitled%208.png" /></a>
</figure>
<h3>3. Como Encontrar os Pontos em uma Função Quadrática</h3>
<p>Ao resolver uma equação do 2º grau utilizando o método de Bháskara teremos três possíveis resultados, todos dependendo do valor do discriminante ∆. Observe:</p>
<p><em>∆ &gt; 0: duas raízes reais diferentes.</em></p>
<p><em>∆ = 0: uma raiz real ou duas raízes reais iguais.</em></p>
<p><em>∆ &lt; 0: nenhuma raiz real.</em></p>
<p>
</p>
<h3>4. Concavidade das parábolas </h3>
<p>Devemos levar em consideração a concavidade da parábola, ou seja, quando o coeficiente a &gt; 0: concavidade para cima, e a &lt; 0: concavidade para baixo.</p>