<html>

<body>
    <h1>Unidades de medidas</h1>
    <h2>Medidas em informática</h2>
    <ul>
        <li>Os computadores usam o <strong>código binário</strong> para armazenar informação, sendo que, a mais pequena unidade informática, o <strong>bit</strong>, corresponde a um estado de 0 ou 1.</li>
    </ul>
    <ul>
        <li>O computador utiliza uma tabela com <strong>256 símbolos</strong> diferentes para representar as letras do alfabeto, os números, os sinais de pontuação, etc.</li>
    </ul>
    <ul>
        <li>Para formar esses <strong>256 símbolos</strong> diferentes são necessários apenas <strong>8
				bits</strong>, uma vez que
            <style>
                @import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css')
            </style><span data-token-index="0" contenteditable="false" class="notion-text-equation-token" style="user-select:all;-webkit-user-select:all;-moz-user-select:all"><span></span><span><span
						class="katex"><span class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
								<semantics>
									<mrow>
										<msup>
											<mn>2</mn>
											<mn>8</mn>
										</msup>
										<mo>=</mo>
										<mn>256</mn>
									</mrow>
									<annotation encoding="application/x-tex">2^8 = 256</annotation>
								</semantics>
							</math></span><span class="katex-html" aria-hidden="true"><span class="base"><span
									class="strut" style="height:0.8141079999999999em;vertical-align:0em;"></span><span class="mord"><span class="mord">2</span><span class="msupsub"><span
											class="vlist-t"><span class="vlist-r"><span class="vlist"
													style="height:0.8141079999999999em;"><span
														style="top:-3.063em;margin-right:0.05em;"><span class="pstrut"
															style="height:2.7em;"></span><span class="sizing reset-size6 size3 mtight"><span
																class="mord mtight">8</span></span>
            </span>
            </span>
            </span>
            </span>
            </span>
            </span><span class="mspace" style="margin-right:0.2777777777777778em;"></span><span class="mrel">=</span><span class="mspace" style="margin-right:0.2777777777777778em;"></span></span><span class="base"><span
									class="strut" style="height:0.64444em;vertical-align:0em;"></span><span class="mord">2</span><span class="mord">5</span><span class="mord">6</span></span>
            </span>
            </span>
            </span><span>﻿</span></span>. A partir daqui surge uma das unidade de medida mais conhecida nos dias de hoje, o
            <strong>byte</strong> que corresponde a exatamente <strong>8 bits.</strong></li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/um2/Untitled.png"><img src="http://localhost:8080/img/conteudos/um2/Untitled.png" /></a>
        <figcaption>Tabela de unidades de grandeza da informática</figcaption>
    </figure>
    <p>
    </p>
    <h2>Referências</h2>
    <p><a href="https://www.matematica.pt/faq/unidades-medida-informatica.php">https://www.matematica.pt/faq/unidades-medida-informatica.php</a>
    </p>
</body>

</html>