:root {
    --sidelist-text: #0a0a0a;
    --sidelist-text-hover: #fff;
    --sidbar-background: #ffffffc0;
    --sidelist-background-hover: #1e87dd;
    --sidelist-link: #555;
	--main-background: rgba(32, 83, 131, 0.664);
	--main-text: white;
	--sidelist-text: #0a0a0a;
    --sidelist-text-hover: #fff;
    --sidbar-background: #ffffffc0;
    --sidelist-background-hover: #1e87dd;
    --sidelist-link: #555;
    --main-background: rgba(32, 83, 131, 0.664);
    --card-background: rgb(255, 255, 255);
    --card-componente-background: rgb(9, 80, 128);
    --card-componente-background-hover: rgb(31, 142, 185);
    --card-componente-background-image: url('http://localhost:8080/assets/icons/learn.svg');
    --card-conteudo-ul: rgba(241, 241, 241, 0.308);	
}

*{
	list-style: none;
	margin: 0;
	padding: 0;
}

img{
	max-width: 700px;
	height: auto;
}

html,body{
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.container{
	margin-top: 30px;
	display: flex;
	flex: 1;
}

.container .lista-conteudos{
	flex: 1;
	display: flex;
	padding-top: 40px;
	padding: 8px;
	flex-direction: column;	
}

.container .lista-conteudos ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	justify-content: center;
}

.container .lista-conteudos ul li{
	width: 100%;
	list-style: none;
	cursor: pointer;
	margin-top: 8px;
	transition: .4s;	
}

.container .lista-conteudos ul li:hover{
	color: white;
	background: black;
}

.modulos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.modulos .modulo{
    height: 250px;
    background: var(--card-background);
    display: flex;
    width: 45%;
    margin-left: 16px; 
	flex-direction: column;
}

.modulo button > a{
	color: white;
}