<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/Quiz/styles.css}">
    <link rel="shortcut icon" th:href="@{/assets/picture.ico}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fragments/header/styles.css}">
	<link rel="stylesheet" th:href="@{/css/fragments/footer/styles.css}">
</head>

<body th:data-id-modulo="${id}">

  <div th:replace="~{fragments/header :: header}"></div>
    
    <div class="home-box custom-box">
        <h3> <span class="assunto">Assunto do Quiz</span> </h3>
        <p>Responda todas as questões para um bom rendimento. Número de Questões: <span class="total-question">4</span></p>
        <button type="button" class="btn" id="start">Responder</button>
    </div>

    <div class="quiz-box custom-box hide">
        <div class="question-number">
            Questão 1 de 4
        </div>
        <p class="question-text">
            Enunciado da questão?
        </p>

        <div class="option-container" id="option-container" data-correct-index="0">
            <p class="alternativa" data-index="1">Resposta</p>
            <p class="alternativa" data-index="2">Resposta</p>
            <p class="alternativa" data-index="3">Resposta</p>
            <p class="alternativa" data-index="4">Resposta</p>
            <p class="alternativa" data-index="5">Resposta</p>
        </div>
        <div class="next-btn">
            <button type="button" class="btn" id="next">Próxima</button>
        </div>
        <div class="answer-indicator">
        </div>
    </div>
    <div class="result-box custom-box hide">
        <h1>Resultado</h1>
        <small>Seus resultados serão contabilizados em um ranking</small>
        <table>
            <tr>
                <td class="title">Número de Questões</td>
                <td class="numero-questoes">0</td>
            </tr>
            <tr>
                <td class="title">Acertos</td>
                <td> <span class="acerto">0</span></td>
            </tr>
            <tr>
                <td class="title">Erros</td>
                <td> <span class="erro">0</span> </td>
            </tr>
            <tr>
                <td class="title">Percentual</td>
                <td> <span class="percentual">0%</span> </td>
            </tr>
            <tr>
                <td class="title">Pontos</td>
                <td> <span class="ponto">0</span> </td>
            </tr>
        </table>

        <button type="button" class="btn" id="again">Tentar Novamente</button>
        <a th:href="@{/home}">
            <button type="button" class="btn">Voltar aos Estudos</button>
        </a>
    </div>

  	<div th:replace="~{fragments/footer :: footer}"></div>

    <script th:src="@{/js/jquery/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/Quiz/script.js}"></script>
</body>

</html>