<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/Cadastro/styles.css}">
  <title>Cadastro de Usuário</title>
</head>
<body>
  
  <div class="container">
    <div class="content d-flex justify-content-end">
      <div class="card col-7 ml-0">
        <div class="card-body">
          <form th:action="@{/registration?u=professor}" th:method="POST" th:object="${usuario}">
            <legend>Cadastrar-se como Professor</legend>
            <fieldset>
              <div class="form-group">
                
                <label for="input-username">Usuário</label>
                <input type="text" th:field="*{username}" class="form-control" 
                id="input-username" placeholder="Insira seu nome de usuário..." required>
                
              </div>  
              
              <div class="form-group">
                
                <label for="input-email">E-mail</label>
                <input type="email" th:field="*{email}" name="email" class="form-control" id="input-email" 
                placeholder="Insira seu e-mail..." required>
                
              </div>
              <div class="row">
                
                
                <div class="form-group col">
                  
                  <label for="input-password">Senha</label>
                  <input type="password" th:field="*{password}" class="form-control" id="input-password" 
                  placeholder="Insira sua senha..." required>
                  
                </div>
                
                <div class="form-group col">
                  
                  <label for="input-confirm-password">Confirmar Senha</label>
                  <input type="password" class="form-control" id="input-confirm-password" 
                  placeholder="Insira novamente sua senha..." required>
                  
                </div>
              </div>
              
              <div class="form-group">
                
                <label for="input-date">Data de nascimento</label>
                <input type="date" th:field="*{username}" class="form-control" id="input-date" required>
                
              </div>
            </fieldset>
            <fieldset>
              <div class="row">  
                <!-- <div class="col">
                  <label for="select">Tipo de usuário</label>
                  <select id="select" class="custom-select" name="tipo">
                    <option value="aluno">Aluno</option>
                    <option value="professor">Professor</option>
                  </select>
                </div> -->
                
                <div class="col" id="area-professor">
                  <div class="form-group">
                    <label for="input-formacao">Fale um pouco sobre você</label>
                    <input type="text" th:field="*{descricao}" class="form-control" name="descricao" id="input-formacao">
                  </div>
                </div>
                
              </div>
              
            </fieldset>
            <button class="btn col-12 mt-3 text-reset" type="submit">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>;
  </div>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script th:src="@{/js/jquery/jquery-3.5.1.min.js}"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap-4.5.0-dist/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/Cadastro/script.js}"></script>
</body>
</html>