<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilo-login.css}">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="container-fluid">
                <form th:action="@{/aluno/cadastrar}" th:object="${aluno}" th:method="POST">
                    <legend>Cadastro</legend>

                    <!-- Nome -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="large material-icons">person</i>
                                </span>
                            </div>
                            <input type="text" name="nome" placeholder="Digite seu nome" th:field="*{nome}" required>
                        </div>
                    </div>

                    <!-- Usuario -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="large material-icons">assignment_ind</i>
                                </span>
                            </div>
                            <input type="text" name="usuario" placeholder="Digite o nome do seu usuário" th:field="*{usuario}" required>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="large material-icons">email</i>
                                </span>
                            </div>
                            <input type="email" name="email" placeholder="Digite seu e-mail" th:field="*{email}" required>
                        </div>
                    </div>

                    <!-- Senha -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="large material-icons">vpn_key</i>
                                </span>
                            </div>
                            <input type="password" placeholder="Digite sua senha" required>
                        </div>
                    </div>

                    <!-- Senha novamente -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="large material-icons">remove_red_eye</i>
                                </span>
                            </div>
                            <input type="password" name="senha" placeholder="Digite sua novamente sua senha" th:field="*{senha}" required>
                        </div>
                    </div>

                    <!-- Redirencionar Login -->
                    <div class="form-group">
                        <small class="small">Já tem conta? <a th:href="@{/aluno/login}">Clique
								aqui para fazer login.</a></small>
                        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script th:src="@{/js/form-cadastro.js}"></script>
</body>

</html>