<html>

<body>
    <h1>Álgebra</h1>
    <p>Álgebra é o ramo da matemática que estuda a manipulação formal de equações, operações matemáticas, polinômios e estruturas algébricas. A álgebra é um dos principais ramos da matemática pura, juntamente com a geometria, topologia, análise, e Teoria
        dos números.
    </p>
    <h1>Simplificação de expressões algébricas</h1>
    <hr />
    <p>Uma expressão matemática que contêm números e letras ou somente letras é chamada expressão algébrica ou literal. As letras são chamadas variáveis ou incógnitas e representam números reais.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled.png"><img src="http://localhost:8080/img/conteudos/a/Untitled.png" /></a>
    </figure>
    <h1>Monômios </h1>
    <hr />
    <p>Expressões algébricas inteiras que envolvem apenas os números reais ou o produto de números reais por letras e suas potências são chamadas monômios ou termos algébricos.
    </p>
    <p>
    </p>
    <ul>
        <li><strong>Adição e subtração:</strong> A adição e a subtração de monômios são feitas sempre entre termos semelhantes, bastando aplicar as mesmas regras de adição e de subtração usadas até agora em seus coeficientes numéricos e observe a parte literal.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%201.png" /></a>
    </figure>
    <ul>
        <li><strong>Multiplicação: </strong>Na multiplicação de monômios não há a exigência de que os monômios sejam semelhantes, ou seja, não é necessário que os monômios tenham a parte literal igual, devemos apenas utilizar a propriedade comutativa da multiplicação
            para agruparmos a multiplicação de coeficiente com coeficiente e de parte literal com parte literal.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%202.png" /></a>
    </figure>
    <ul>
        <li><strong>Divisão: </strong>Para dividirmos os monômios não é necessário que eles sejam semelhantes, basta dividirmos coeficiente com coeficiente e parte literal com parte literal.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%203.png" /></a>
    </figure>
    <h1>Polinômios</h1>
    <hr />
    <p>Polinômios são expressões algébricas formadas pela adição de monômios. Ambos são constituídos por números conhecidos e números desconhecidos.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%204.png" /></a>
    </figure>
    <ul>
        <li><strong>Adição e subtração:</strong> Efetuar a adição ou a subtração de dois polinômios é o mesmo que reduzir seus termos semelhantes.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%205.png" /></a>
    </figure>
    <ul>
        <li><strong>Multiplicação</strong>: A multiplicação com polinômio pode ser realizada de três formas:
        </li>
    </ul>
    <p>Multiplicação de monômio com polinômio.</p>
    <p>Multiplicação de número natural com polinômio.</p>
    <p>Multiplicação de polinômio com polinômio.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%206.png" /></a>
    </figure>
    <ul>
        <li><strong>Divisão:</strong> Dados dois polinômios, representados por A(x) e B(x), é possível realizar a divisão de A(x) por B(x) sempre que o grau do polinômio A(x) for maior que o de B(x). Essa divisão acontece de modo similar à de números inteiros.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%207.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%207.png" /></a>
    </figure>
    <h1>Produtos notáveis</h1>
    <hr />
    <p>Existem alguns produtos de binômios especiais, muito utilizados e têm uma regra prática para determiná-los, por isso, são chamados de produtos notáveis.</p>
    <ul>
        <li><strong>Dois termos: </strong>Quadrado é soma de dois termos é igual ao quadrado do primeiro termo mais duas vezes o produto do primeiro pelo segundo termo mais o quadrado do segundo termo.</li>
    </ul>
    <ul>
        <li><strong>Diferença de dois termos</strong>: O quadrado da diferença de dois termos é igual ao quadrado do primeiro termo menos duas vezes o produto do primeiro pelo segundo termo mais o quadrado do segundo termo.</li>
    </ul>
    <ul>
        <li><strong>Soma pela diferença de dois termos:</strong> O produto da soma pela diferença de dois termos é igual ao quadrado do primeiro termo menos o quadrado do segundo termo.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%208.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%208.png" /></a>
    </figure>
    <h1>Fatoração</h1>
    <p>Fatorar uma expressão algébrica significa escrevê-la na forma de produto.</p>
    <ul>
        <li><strong>Fator comum: </strong>Quando temos um fator comum em polinômio, podemos colocá-lo em evidência e dividir cada termo da expressão por esse fator comum.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%209.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%209.png" /></a>
    </figure>
    <ul>
        <li><strong>Fatoração por agrupamento:</strong> Quando todos os termos da expressão algébrica não têm nenhum fator em comum, pode-se tentar agrupar os monômios que tenha fatores em comum. Esse é o método do agrupamento.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2010.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2010.png" /></a>
    </figure>
    <ul>
        <li><strong>Diferença de dois quadrados: </strong>A diferença de quadrados é uma das principais maneiras de se fatorar uma expressão algébrica. Como o próprio nome diz, ela é aplicada em uma diferença, isto é, existir uma operação de subtração entre
            dois termos que estão elevados ao quadrado. Tal processo de fatoração também é um dos mais simples de se efetuar.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2011.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2011.png" /></a>
    </figure>
    <ul>
        <li><strong>Trinômio do quadrado perfeito: </strong>A resolução dele é um trinômio x2 +2xy + y2. O primeiro monômio é o quadrado do primeiro termo; o segundo monômio é duas vezes o primeiro termo vezes o segundo; e o terceiro monômio é o quadrado
            do segundo termo.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2012.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2012.png" /></a>
    </figure>
    <h1>Frações algébricas</h1>
    <hr />
    <p>Frações algébricas são expressões na forma de fração em que ao menos uma das incógnitas aparece no denominador.</p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2013.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2013.png" /></a>
    </figure>
    <ul>
        <li><strong>Soma e Subtração: </strong>Para efetuar uma soma ou subtração de frações com denominadores diferentes, é necessário determinar o mmc de todos os valores que estão nos denominadores.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2014.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2014.png" /></a>
    </figure>
    <ul>
        <li><strong>Multiplicação e divisão:</strong> Na multiplicação, multiplicamos normalmente os números entre si, e na divisão de frações, multiplicamos os termos da primeira fração pelo inverso dos termos da segunda fração.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2015.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2015.png" /></a>
    </figure>
    <p>
    </p>
    <h1>Equação do 1 ª grau</h1>
    <p>Uma equação do primeiro grau é uma expressão em que o grau da incógnita é 1, isto é, o expoente da incógnita é igual a 1.</p>
    <ul>
        <li><strong>Como resolver:</strong> Devemos deixar tudo que depende da incógnita no primeiro membro e tudo que não depende da incógnita no segundo membro. Para isso, basta “passar” o número para o outro lado da igualdade, trocando seu sinal pelo sinal
            oposto. Se um número é positivo, por exemplo, quando passado para o outro membro, ele se tornará negativo. Caso o número esteja multiplicando, basta “passá-lo” dividindo e assim sucessivamente.</li>
    </ul>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2016.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2016.png" /></a>
    </figure>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2017.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2017.png" /></a>
    </figure>
    <p>
    </p>
    <h1>Sistema de equação do 1 ª grau</h1>
    <hr />
    <p>Um sistema de equações é constituído por um conjunto de equações que apresentam mais de uma incógnita. Para resolver um sistema é necessário encontrar os valores que satisfaçam simultaneamente todas as equações.</p>
    <ul>
        <li><strong>Método da substituição:</strong> Esse método consiste em escolher uma das equações e isolarmos uma das incógnitas, para determinar o seu valor em relação a outra incógnita. Depois, substituímos esse valor na outra equação. Desta forma,
            a segunda equação ficará com uma única incógnita e, assim, poderemos encontrar o seu valor final. Para finalizar, substituímos na primeira equação o valor encontrado e, assim, encontramos também o valor da outra incógnita.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2018.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2018.png" /></a>
    </figure>
    <ul>
        <li><strong>Método da adição: </strong>No método da adição buscamos juntar as duas equações em uma única equação, eliminando uma das incógnitas.Para isso, é necessário que os coeficientes de uma das incógnitas sejam opostos, isto é, devem ter o mesmo
            valor e sinais contrários.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2019.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2019.png" /></a>
    </figure>
    <h1>Sistema de inequação do 1 ª </h1>
    <p>Um sistema de inequação do 1º grau é formado por duas ou mais inequações, cada uma delas tem apenas uma variável sendo que essa deve ser a mesma em todas as outras inequações envolvidas.</p>
    <ul>
        <li>Para resolver uma inequação do 1º grau, o que fazemos é determinar um conjunto com todos os valores para a variável x que torna a sentença verdadeira.</li>
    </ul>
    <p>
    </p>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2020.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2020.png" /></a>
    </figure>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/a/Untitled%2021.png"><img src="http://localhost:8080/img/conteudos/a/Untitled%2021.png" /></a>
    </figure>
    <p>
    </p>
    <p>referências: matemática conexão. Autores: Célia Lopes, Lane Alencar, Gizelton Alencar.</p>
</body>

</html>