<html>

<body>
    <h1>Estatística</h1>
    <p>Estatística é uma ciência exata que estuda a coleta, a organização, a análise e registro de dados por amostras.
    </p>
    <h1>Gráficos e tabelas</h1>
    <ul>
        <li><strong>Gráfico: </strong>Os gráficos são representações que facilitam a análise de dados, os quais costumam ser dispostos em tabelas quando se realiza pesquisas estatísticas.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/e/Untitled.png"><img src="http://localhost:8080/img/conteudos/e/Untitled.png" /></a>
    </figure>
    <ul>
        <li><strong>Tabela: </strong>Uma tabela é um arranjo sistemático de dados numéricos dispostos de forma (colunas e linhas) para fins de comparação.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/e/Untitled%201.png"><img src="http://localhost:8080/img/conteudos/e/Untitled%201.png" /></a>
    </figure>
    <h1>Média aritmética e ponderada</h1>
    <hr />
    <ul>
        <li><strong>Média aritmética:</strong> A média aritmética é considerada uma medida de tendência central e é muito utilizada no cotidiano. Surge do resultado da divisão do somatório dos números dados pela quantidade de números somados.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/e/Untitled%202.png"><img src="http://localhost:8080/img/conteudos/e/Untitled%202.png" /></a>
    </figure>
    <ul>
        <li><strong>Média ponderada: </strong>A média aritmética ponderada é calculada multiplicando cada valor do conjunto de dados pelo seu peso. Depois, encontra-se a soma desses valores que será dividida pela soma dos pesos.
        </li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/e/Untitled%203.png"><img src="http://localhost:8080/img/conteudos/e/Untitled%203.png" /></a>
    </figure>
    <h1>Mediana e moda</h1>
    <hr />
    <ul>
        <li><strong>Mediana:</strong> A Mediana (Md) representa o valor central de um conjunto de dados. Para encontrar o valor da mediana é necessário colocar os valores em ordem crescente ou decrescente.Quando o número elementos de um conjunto é par, a
            mediana é encontrada pela média dos dois valores centrais. Assim, esses valores são somados e divididos por dois.
        </li>
    </ul>
    <ul>
        <li><strong>Moda:</strong> A Moda (Mo) representa o valor mais frequente de um conjunto de dados, sendo assim, para defini-la basta observar a frequência com que os valores aparecem.Um conjunto de dados é chamado de bimodal quando apresenta duas modas,
            ou seja, dois valores são mais frequentes.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/e/Untitled%204.png"><img src="http://localhost:8080/img/conteudos/e/Untitled%204.png" /></a>
    </figure>
    <h1>Probabilidade</h1>
    <p>A teoria da probabilidade é o ramo da Matemática que estuda experimentos ou fenômenos aleatórios e através dela é possível analisar as chances de um determinado evento ocorrer.</p>
    <ul>
        <li><strong>Possibilidade:</strong> Possibilidade é algo que pode acontecer, mas não é certeza.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/e/Untitled%205.png"><img src="http://localhost:8080/img/conteudos/e/Untitled%205.png" /></a>
    </figure>
    <ul>
        <li><strong>Tipos de eventos:</strong> Um evento é qualquer subconjunto de um espaço amostral. Ele pode conter nenhum elemento (conjunto vazio) ou todos os elementos de um espaço amostral. O número de elementos do evento é representado da seguinte
            maneira: n(E), sendo E o evento em questão.</li>
    </ul>
    <p>
    </p>
    <figure>
        <a href="http://localhost:8080/img/conteudos/e/Untitled%206.png"><img src="http://localhost:8080/img/conteudos/e/Untitled%206.png" /></a>
    </figure>
    <p>
    </p>
    <p>referências: matemática conexão. Autores: Célia Lopes, Lane Alencar, Gizelton Alencar.</p>
</body>

</html>