<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Cadastro</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="fontawesome/css/all.min.css">
<link rel="stylesheet" href="css/estilo-login.css">
</head>
<body>
	<div class="main-container">
		<div class="container">
			<div class="col-md-10">
				<form th:object="aluno" th:action="@{/aluno/salvar}" th:method="POST">
					<legend>Cadastro</legend>

					<!-- Nome -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-append">
								<span class="input-group-text"><i class="far fa-user"></i></span>
							</div>
							<input type="text" name="nome" placeholder="Digite seu Nome..." th:field="*{nome}">
						</div>
					</div>

					<!-- Usuario -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="text" name="usuario" placeholder="Digite sua senha..." th:field="*{usuario}">
						</div>
					</div>

					<!-- Email -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon1">@</span>
							</div>
							<input type="email" name="email" placeholder="E-mail" th:field="*{email}">
						</div>
					</div>

					<!-- Senha -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="senha"
								placeholder="Digite sua senha...">
						</div>
					</div>

					<!-- Senha novamente -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="senha"
								placeholder="Digite sua senha..." th:field="*{senha}">
						</div>
					</div>

					<!-- Redirencionar Login -->
					<div class="form-group">
						<small class="small">Já tem conta? <a href="form-login.html">Clique
								aqui para fazer login.</a></small>
						<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
					</div>
				</form>
			</div>
		</div>
		<script src="form-cadastro.js" async defer></script>
</body>

</html>