<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" th:href="@{/css/Ranking/style.css}">
</head>
<body>
    <div class="container">
        <header>
            <img id="logo" th:src="@{/img/podium.svg}">
        <h3>Maiores Pontuações em Exercicios</h3>
    </header>

        <div class="currently-position">
            Você está atualmente <span id="position"> fora da Classificação</span>
            <!-- Você está atualmente < em *colocação* lugar > -->
        </div>
        <div class="rank">
            <ul>
            <li th:each="aluno, iStat : ${alunos}" class="placing principal"> 
                <img th:src="@{'img/rk/' + ${iStat.index + 1} + '.svg'}" class="place" alt="Primeiro Lugar"> 
                <img th:src="@{img/wanda.png}" class="profile-pic" alt="Perfil">
                <span th:text="${aluno.nome}" class="teste"> Nome do Usuário </span>
            </li>
            </ul>
        </div>
       </div>
</body>
</html>