<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendário</title>
  
  <!-- Css Calendar api -->
  <link th:href="@{/js/FullCalendar/main.min.css}" rel='stylesheet' />
  <link th:href="@{/js/FullCalendar/List/main.min.css}" rel='stylesheet' />
  <link th:href="@{/js/FullCalendar/Daygrid/main.min.css}" rel='stylesheet' />
  
  <!-- Css -->
  <link rel="stylesheet" th:href="@{/css/Calendario/styles.css}">
  
	<link rel="stylesheet" th:href="@{/css/fragments/header/styles.css}">
	<link rel="stylesheet" th:href="@{/css/fragments/footer/styles.css}">
</head>
<body data-id-user="${usuario.id}">
  
  <div class="container">
    <div class="content">
  	  <!-- <div th:replace="~{fragments/header :: header}"></div> -->
      
      <!-- List Calendário -->
      <div id="calendar-list"></div>
      
      <!-- Calendário -->
      <div id="calendar"></div>
      
      <!-- Container - formulário -->
      <div class="hidden" id="container-form">
        
        <form id="form">
          <fieldset>
            <legend>Eventos</legend>
            
            <div class="input-group">
              <span>Título</span>
              <input id="title" type="text" placeholder="Digite o nome do evento...">
            </div>
            
            <div class="input-group">
              <span>Data de início</span>
              <input id="start" type="date">
            </div>
            
            <div class="input-group">
              <span>Data de término</span>
              <input id="end" type="date">
            </div>
            
          </fieldset>
          <div class="button-group">
            <button id="close-button" type="button">
              Cancelar
            </button>
            <button id="save-button" type="submit">
              Cadastrar
            </button>
          </div>
        </form> 
        
      </div>
      
      <!-- Container de edição -->
      <div class="hidden" id="card-update">
        
        <div class="nav-card">
          <button id="close-card-button">
            <img th:src="@{/assets/icons/close.svg}" alt="Close">
          </button>
          
          <button id="delete-button">
            <img th:src="@{/assets/icons/delete.svg}" alt="Delete">
          </button>  
          
          <button id="update-button">
            <img th:src="@{/assets/icons/update.svg}" alt="Update">
          </button>
          
        </div>
       
        <div class="description">
          <h3 id="title-event">Evento</h3>
          <span id="start-event">Dia de início: </span>
          <span id="end-event">Dia de finalização: </span>
        </div>
        
        <div class="update-form">
          <form id="form-update">
            <fieldset>
              <div class="input-group">
                <span>Título</span>
                <input id="upd-title" type="text" placeholder="Digite o nome do evento...">
              </div>
              
              <div class="input-group">
                <span>Data de início</span>
                <input id="upd-start" type="date">
              </div>
              
              <div class="input-group">
                <span>Data de término</span>
                <input id="upd-end" type="date">
              </div>
              
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <div th:replace="~{fragments/footer :: footer}"></div>
  
  
  <!-- Calendar Api -->
  <script th:src='@{/js/FullCalendar/main.js}'></script>
  <script th:src='@{/js/FullCalendar/List/main.min.js}'></script>
  <script th:src='@{/js/FullCalendar/Daygrid/main.js}'></script>
  <script th:src='@{/js/FullCalendar/Interaction/main.min.js}'></script>
  
  <!-- Jquery -->
  <script th:src="@{/js/jquery/jquery-3.5.1.min.js}"></script>
  
  <!-- Js -->
  <script th:src="@{/js/Calendario/script.js}"></script>
</body>
</html>